* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

/* step 1 */
.dashboard {
    background-color: pink;
    grid-row: 1/7;
    grid-column: 1/2;
}

.navbar {
    background-color: blue;
    grid-row: 1/2;
    grid-column: 2/7;
}

.content {
    background-color: blueviolet;
    grid-row: 2/7;
    grid-column: 2/7;
}